matplotlib
scikit-learn
weighslide
psutil
xlrd
openpyxl
statsmodels
biopython
seaborn
korbinian
# REQUIREMENTS THAT SHOULD BE AUTOMATICALLY INSTALLED USING "PIP INSTALL THOIPAPY"
#thoipapy
#numpy
#scipy
#pandas
#django
#biopython